<div class="container">
	<h1>Angular 6 Apps</h1>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a>
	      </li>
	      <li class="nav-item">
	        <a routerLink="/employee" routerLinkActive="active" class="nav-link">Employee</a>
	      </li>
	      <li class="nav-item">
	        <a routerLink="/todo" routerLinkActive="active" class="nav-link">Todo</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<br>
	<p>
		<router-outlet></router-outlet>
	</p>
</div>
<!-- <div class="container">
	<h1>Users</h1>
	<app-users [title]="title" (msg)="userClicked($event)"></app-users>
</div> -->